$color__background-body: $colour-primary-white;
$color__background-screen: $colour-backgrounds-light-gray;
$color__background-hr: $colour-secondary-dark-gray;
$color__background-button: $colour-button-primary;
$color__background-pre: $colour-secondary-light-gray;
$color__background-ins: $colour-backgrounds-light-yellow;

$color__text-screen: $colour-secondary-blue;
$color__text-input: $colour-secondary-dark-gray;
$color__text-input-focus: $colour-backgrounds-medium-gray;
$color__link: $colour-text-link;
//$color__link-visited: $colour-text-link-visited;
$color__link-visited: $colour-text-link;
$color__link-hover: $colour-text-link-hover;
$color__text-main: $colour-text-main;

$color__border-button: $colour-primary-black;
$color__border-button-hover: $colour-primary-black;
$color__border-button-focus: $colour-primary-black;
$color__border-input: $colour-backgrounds-medium-gray;
$color__border-abbr: $colour-secondary-dark-gray;
